<ion-header *ngIf="!fullscreen">
  <ion-toolbar>

      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title *ngIf="api.data.length > 0">
      <ion-input
        (focus)="selectAll($event)"
        (change)="api.change()"
        (ngModelChange)="api.data[api.current].modified = 1;"
        [(ngModel)]='api.data[api.current].name'
        placeholder="{{api.data[api.current].name}}">
      </ion-input>
    </ion-title>


    <ion-buttons end *ngIf="initialized">

      <button ion-button clear *ngIf="api.data.length > 0">
        {{api.current+1}}/{{api.data.length}}
      </button>


      <button ion-button clear small (click)="slider.slidePrev()" [disabled]="slider.isBeginning()">
        <ion-icon name="arrow-up"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="no-scroll paper" [ngClass]="{'fullscreen': fullscreen}">
  <ion-slides #mySlider [options]="mySlideOptions" (ionDidChange)="slideDidChange()" (ionWillChange)="slideWillChange()">
    <ion-slide *ngFor="let e of api.data">
      <ion-item [hidden]="!initialized">
        <ion-label stacked>Titel</ion-label>
        <ion-input [(ngModel)]="e.title" (change)="api.change()" (ngModelChange)="e.modified = 1;" (focus)="selectAll($event)" placeholder="{{e.title}}"></ion-input>
      </ion-item>
      <div class="editorWrapper">
        <codemirror [(ngModel)]="e.body" (blur)="api.change()" (change)="e.modified = 1;" [ngModelOptions]="{standalone: true}" [config]="cm_options">
        </codemirror>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer *ngIf="!fullscreen">
  <ion-toolbar>
    <ion-buttons start  *ngIf="api.data.length > 0">
      <ion-badge item-right color="dark">Chars: {{api.data[api.current].body.length}} Words: {{wordcount(api.data[api.current].body)}}</ion-badge>
    </ion-buttons>
    <ion-title>
      <button ion-button small (click)="addPage()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button *ngIf="api.data.length > 0" ion-button small (click)="api.change()" [disabled]="api.data[api.current].modified == 0">
        <ion-icon name="send"></ion-icon>
      </button>
      <button ion-button small (click)="toggleFs()">
        <ion-icon name="resize"></ion-icon>
      </button>
    </ion-title>
    <ion-buttons end *ngIf="initialized">
      <button ion-button clear small (click)="slider.slideNext()" [disabled]="slider.isEnd()">
        <ion-icon name="arrow-down"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
