@mixin gradient {
  background: rgb(238,238,238);
  background: -moz-linear-gradient(left, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
  background: -webkit-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 );
}

page-editor {

  .fullscreen {
    & .fixed-content, & .scroll-content {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    & ion-item {
      visibility: hidden;
    }
    &.paper {
      background: #FFF !important;
    }
    & .editorWrapper {
      top: 1em;
    }
    & .CodeMirror-sizer {
      max-width: 850px !important;
      padding: 0.2em;
      margin: auto !important;
    }

    ion-slide {
      max-width: 100% !important;
    }
    .swiper-pagination {
      top: 1em !important;
    }

    .ProseMirror-menubar {
      display: none !important;
    }
    .ProseMirror {
      top: 0 !important;
    }
  }

  .swiper-pagination {
    position: absolute !important;
    right: 1em !important;
    top: 2.5em !important;
    text-align: right;
    width: auto;
    height: 2em;
  }

  ion-slide {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0em;
    background: transparent;
    margin: 0 auto;
    z-index: 1;
  }

  ion-item {
    position: absolute !important;
    top: 0;
    left: 0;
    padding: 0 !important;
    background: transparent !important;
    .item-inner {
      padding: 0 0.5em;
      box-sizing: border-box;
      border: none !important;
      box-shadow: none !important;
/*      max-width: 850px !important;
      margin: auto !important;
      background: white;*/
      background: #CEE;
    }
  }

  .editorPage {
    font-size: 18px;
  }


  .editorWrapper {
    text-align: left !important;
    display: block;
    position: absolute;
    top: 0em;
    margin-top: 3.5em;
    left: 0px;
    right: 0px;
    bottom: 0em;
  }

  .paper {
    @include gradient();
  }

  .no-scroll {
    .scroll-content {
      overflow: hidden !important;
    }
  }

  .mobile-wrapper{
    display:none;
  }
  .desktop-wrapper{
    display:inline-block;
  }  
  @media screen and (max-width: 640px) {
    .mobile-wrapper{
      display:inline-block;
    }
    .desktop-wrapper{
      display:none;
    }  
  }

  .btn-wrapper {
    text-align: center;
  }

}

.custom-variant-input,
.custom-replace-input,
.custom-file-input {
  width: 100%;
  display: block;
  position: relative;
  line-height: 0em;
  padding: 1em;
  height: 3em;
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  &:before {
    content: 'ADD ASSET';
    text-align: center;
    display: inline-block;
    background: #488aff;
    padding: 1.5em 0.5em;
    box-sizing: border-box;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color: white;
    font: inherit;
    font-weight: 500 !important;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%; 
    font-weight: bold;
    border-radius: 2px;
  }
  &:hover:before {
    border-color: black;
  }
  &:active{
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 5px 0px, rgba(0, 0, 0, 0.21) 0px 3px 5px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;    
    &::before {
      background: #183acc;
    }  
  }
}

.custom-variant-input,
.custom-replace-input {
  height: 2.55em;
  margin-top: 4px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  &:before {
    content: 'REPLACE';
    background: #32db64;
    padding: 1.25em 0.5em;
  }
  &:active {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 5px 0px, rgba(0, 0, 0, 0.21) 0px 3px 5px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;    
    &::before {
      background: #226b34;
    }
  }  
}

.custom-variant-input {
  float: right;
  border-radius: 64px;
  padding: 0 2.6rem;
  height: 2.1em;
  color: #32db64;
  border: 1px solid #32db64;  
  box-sizing: border-box;  
  font-size: 13px;
  width: calc(50% - 20px);
  box-shadow: none;
  &:before {
    content: 'ADD';
    color: #32db64;
    background: transparent;
    border-radius: 64px;
    padding: 0 2.6rem;
    line-height: 2.6rem;
    box-sizing: border-box;  
  }
}

.assets {
  img {
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    padding: 0rem;
    margin-bottom: 0.5rem;
    object-position: center top;
    background: #EEE;    
  }
  textarea {
    border: 1px solid #999;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 0.5rem;
  }
  &-flex {
    display: flex;
    position: relative;
    .card-content-md {
      width: 100%;
      padding: 0.75rem;
      background: #EEE;
    }
    .label-md {
      margin: 0;
    }
    .alternateImg {
      position: absolute;
      border: 1px solid white;
      top: 1.5rem;
      left: 1.5rem;
      max-width: 20%;
      width: auto;
      height: auto;
      padding: 0;
      box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    }
  }
  ion-row {
    background: #CCC;
  }
}

@import "codemirror.scss";
@import "prosemirror.scss";
