<ion-header *ngIf="!api.state.fullscreen">
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="api.data.length > 0 && api.data[api.getCurrent()]">
      <ion-input
        (ionChange)="changeDebounce()"
        [(ngModel)]='api.data[api.getCurrent()].name'
        placeholder="{{api.data[api.getCurrent()].name}}">
      </ion-input>
    </ion-title>
    <ion-buttons end *ngIf="api.state.initialized">
      <button ion-button clear>
        <ion-badge *ngIf="api.data.length > 0 && api.data[api.getCurrent()]" item-end color="secondary">{{api.getCurrent() + 1}} / {{api.data.length}}</ion-badge>
      </button>
      <button ion-button clear icon-only (click)="showOptions(api.data[api.getCurrent()])" *ngIf="api.data.length > 0 && api.data[api.getCurrent()]">
        <ion-icon name="settings"></ion-icon>
      </button> 
      <button ion-button clear icon-only (click)="showInfo()" *ngIf="api.data.length > 0 && api.data[api.getCurrent()]">
        <ion-icon name="information-circle"></ion-icon>
      </button> 
      <button class="desktop-wrapper" ion-button clear  icon-only [disabled]="api.state.busy == 0">
        <ion-icon name="sync"></ion-icon>
      </button>
      <button class="mobile-wrapper" ion-button clear  icon-only  (click)="api.change()" [disabled]="api.data.length > 0 && api.data[api.getCurrent()] &&api.data[api.getCurrent()].modified == 0">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="paper" [ngClass]="{'fullscreen': api.state.fullscreen}">
  <div class="editorPage" *ngIf="api.data.length > 0 && api.data[api.getCurrent()]">
    <ion-item class="titleBar">
      <ion-label stacked>Titel</ion-label>
      <ion-textarea
        appAutoGrow
        placeholder="{{api.getCurrentData().title}}"
        [(ngModel)]="api.getCurrentData().title"
        (ionChange)="changeDebounce()"
      ></ion-textarea>
    </ion-item>
    <div class="editorWrapper">
      <prosemirror 
        [(data)]="api.getCurrentData().body" 
        [(editorMarks)]="api.editorMarks"
        [(searchString)]="findString"
        [(replaceString)]="replaceString"
        [(caseSensitive)]="caseSensitive"
        (search)="search($event)" 
        (blur)="change()" 
        (clearSearch)="clearSearch($event)"
        (attachementClick)="attachementClick($event)"
        (searchExecuted)="updateSearchCount($event)"
        (change)="api.getCurrentData().modified = 1;"
        #myProsemirror
      >
      </prosemirror>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="!api.state.fullscreen && !findString && !previewAsset">
  <ion-toolbar class="btn-wrapper">
    <ion-buttons float-start>
      <button ion-button color="primary" icon-only  clear  (click)="prev()" [disabled]="api.getCurrent() == 0">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-buttons>
        <button  ion-button padding icon-start (click)="addPage()">
          <ion-icon name="add"></ion-icon>
          New
        </button>
        <span ion-button icon-start color="success" *ngIf="api.data.length > 0 && api.data[api.getCurrent()]">
          <ion-toggle (ionChange)="api.change()" [(ngModel)]='api.getCurrentData().status'></ion-toggle>
          Publish
        </span>

        <button class="desktop-wrapper" ion-button padding icon-start (click)="api.change()" [disabled]="api.data.length > 0 && api.data[api.getCurrent()] &&api.data[api.getCurrent()].modified == 0">
          <ion-icon name="cloud-upload"></ion-icon>
          Save
        </button>
        <button class="desktop-wrapper" ion-button padding icon-start  (click)="printPage()">
          <ion-icon name="print"></ion-icon>
          Print
        </button>
        <button class="desktop-wrapper" ion-button padding color="danger" icon-start (click)="deletePage()">
          <ion-icon name="trash"></ion-icon>
          Trash
        </button>
        <button class="desktop-wrapper" ion-button padding icon-start (click)="showUpload(api.data[api.getCurrent()])">
          <ion-icon name="document"></ion-icon>
          Assets
        </button>
      </ion-buttons>
    </ion-title>
    <ion-buttons end *ngIf="initialized">
      <button ion-button color="primary" icon-only clear   (click)="next()" [disabled]="(api.data.length - 1) == api.getCurrent()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="findString">
  <ion-toolbar class="btn-wrapper">
    <ion-buttons float-start>
      <button ion-button clear (click)="search()">
        <ion-badge item-end color="secondary">{{findString}}&nbsp;({{findCount}})</ion-badge>
        &nbsp;&rarr;&nbsp;
        <ion-badge *ngIf="replaceString" item-end color="primary">{{replaceString}}</ion-badge>
        <ion-badge *ngIf="!replaceString" item-end color="light">no replacement</ion-badge>
      </button>
    </ion-buttons>
    <ion-title>
      <ion-buttons>
        <button ion-button padding icon-start  (click)="find.prev()">
          <ion-icon name="arrow-back"></ion-icon>
          Previous
        </button>
        <button ion-button padding icon-end (click)="find.next()">
          Next
          <ion-icon name="arrow-forward"></ion-icon>
        </button>      
        <button ion-button padding icon-start [disabled]="!replaceString" (click)="find.replace()">
          <ion-icon name="document"></ion-icon>
          Replace
        </button>
        <button ion-button padding icon-start [disabled]="!replaceString" (click)="find.replaceAll()">
          <ion-icon name="book"></ion-icon>
          Replace all
        </button>
        <button ion-button padding icon-start (click)="caseSensitive = !caseSensitive">
          <ion-icon *ngIf="caseSensitive" name="checkbox"></ion-icon>
          <ion-icon *ngIf="!caseSensitive" name="square-outline"></ion-icon>
          Case Sensitive
        </button>      
      </ion-buttons>
    </ion-title>      
    <ion-buttons end>
      <button ion-button  color="danger" padding icon-start (click)="find.clear()">
        <ion-icon name="close-circle"></ion-icon>
        Quit Search
      </button>
    </ion-buttons>
  </ion-toolbar>  
</ion-footer>
<ion-footer *ngIf="previewAsset">
  <ion-toolbar class="btn-wrapper">
    <ion-buttons float-start>
      <img class="previewAssetThumbnail" src="{{previewAsset.Thumbnail}}" (click)="enlarge()"/>
    </ion-buttons>      
    <ion-buttons end>
      <button ion-button  color="danger" padding icon-start (click)="previewAsset = null">
        <ion-icon name="close-circle"></ion-icon>
        Close
      </button>
    </ion-buttons>
  </ion-toolbar>  
</ion-footer>
