<ion-header>
  <ion-toolbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="api.issues">
    <ion-list radio-group [(ngModel)]="api.current_issue" (ionChange)="api.changeIssue()">
      <ion-card-header color="primary">
        Book Selection
      </ion-card-header>


      <ion-item-sliding *ngFor="let i of api.issues.Issues">
        <ion-item>
          <ion-label>{{i.Name}}</ion-label>
          <ion-radio value="{{i.Id}}"></ion-radio>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="danger" (click)="deleteIssue(i.Id)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>


    </ion-list>
  </ion-card>


  <ion-card>

    <ion-card-header color="primary">
      Server Settings
    </ion-card-header>

    <ion-list>

      <ion-item>
         <ion-label stacked>Username</ion-label>
         <ion-input clearInput (change)="api.storeCredentials()" [(ngModel)]="api.credentials.user"></ion-input>
      </ion-item>


       <ion-item>
         <ion-label stacked>Read Key</ion-label>
         <ion-input clearInput (change)="api.storeCredentials()" [(ngModel)]="api.credentials.rokey"></ion-input>
       </ion-item>

       <ion-item>
         <ion-label stacked>Write Key</ion-label>
         <ion-input clearInput (change)="api.storeCredentials()" [(ngModel)]="api.credentials.rwkey"></ion-input>
       </ion-item>

       <ion-item>
          <ion-label stacked>Server Url</ion-label>
          <ion-input clearInput (change)="api.storeCredentials()" [(ngModel)]="api.credentials.server"></ion-input>
       </ion-item>

       <ion-item>
         <button ion-button color="danger" block (click)="api.logOut()" *ngIf="api.jwt">Log Out</button>
         <button ion-button color="secondary" block (click)="api.logIn()" *ngIf="!api.jwt">Log In</button>
       </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
