<ion-header>
  <ion-toolbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>
      <ion-list-header color="primary">
        Server Settings
      </ion-list-header>
      <ion-item>
         <ion-label stacked>Username</ion-label>
         <ion-input clearInput placeholder="Username" [(ngModel)]="api.credentials.user"></ion-input>
      </ion-item>
       <ion-item>
         <ion-label stacked>Access Key</ion-label>
         <ion-input clearInput  placeholder="Access Key" [(ngModel)]="api.credentials.key"></ion-input>
       </ion-item>

       <ion-item>
          <ion-label stacked>Server Url</ion-label>
          <ion-input clearInput placeholder="https://writerdb.rokfor.ch:443" [(ngModel)]="api.credentials.server"></ion-input>
       </ion-item>

       <ion-item>
         <button ion-button color="danger" block (click)="api.logOut()" *ngIf="api.state.logged_in">Log Out</button>
         <button ion-button color="secondary" block (click)="api.logIn()" *ngIf="!api.state.logged_in">Log In</button>
       </ion-item>
    </ion-list>


</ion-content>
