<ion-menu [content]="content" type="reveal" swipeEnabled="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-item-group>
      <ion-item-divider color="light">Settings</ion-item-divider>
      <button menuClose (click)="openPage(p)" ion-item *ngFor="let p of pages">
        <ion-icon name="{{p.icon}}" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-item-group>

    <ion-list>
      <ion-list-header>
        Table of Contents
      </ion-list-header>
      <ion-item-group reorder="true" (ionItemReorder)="reorderPages($event)">
        <ion-item-sliding *ngFor="let d of api.data; let i = index;" >
          <ion-item menuClose (click)="openEditor(i)">
            <p>{{d.title}}</p>
            <ion-note item-right>{{d.name}}</ion-note>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="danger" (click)="deletePage(i)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>
        <ion-buttons start>
          <button ion-button small  icon-only [disabled]="!editor" (click)="editor.addPage()">
            <ion-icon name="add"></ion-icon>
          </button>
          <button *ngIf="api.data.length > 0 && api.data[api.current]" ion-button small  icon-only (click)="api.change()" [disabled]="api.data[api.current].modified == 0">
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-buttons>
      </ion-title>
      <ion-buttons end>
        <button ion-button small  icon-only (click)="toggleFs()">
          <ion-icon name="resize"></ion-icon>
        </button>
        <button ion-button small  icon-only [disabled]="!editor" (click)="editor.printPage()">
          <ion-icon name="print"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
