page-book {
    textarea {
        background: rgb(238,238,238) !important;
        height: 4rem;
        transition: all 0.25s ease-in-out;
        border-radius: 4px !important;
        padding: 2px 4px !important;
        &:hover {
            background: rgb(226, 226, 226) !important;
        }        
    }
    .focused {
        textarea {
            height: 50vh;
            background: rgb(180, 186, 190) !important;
        }
    }
    .bibtex-error {
        pre {
            background: rgb(180, 186, 190) !important;
            padding: 1rem;
            padding-bottom: 0;
            border-radius: 10px;
            font-size: 75%;    
        }
    }
}
