<ion-header>
  <ion-toolbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      Book Selection
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list  *ngIf="api.issues">
    <ion-list-header color="primary">
      Available Books
    </ion-list-header>
      <ion-item>
        <ion-label>
          <ion-icon name="ios-search"></ion-icon>
        </ion-label>
        <ion-input type="search" autocapitalize=off placeholder="Filter" [(ngModel)]="filterBook"></ion-input>
      </ion-item>    
      <ion-item 
        *ngFor="let i of api.issues.Issues  | myfilter:filterBook" 
        radio-group 
        [(ngModel)]="api.current.issue"
      >
        <button style="z-index: 10000;" ion-button icon-only clear item-start icon-left color="danger" (click)="deleteIssue(i.Id)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button style="z-index: 10000;" ion-button icon-only clear item-start icon-left color="secondary" (click)="shareIssue(i.Id)">
          <ion-icon name="share"></ion-icon>
        </button>
        <ion-label>{{i.Name}}</ion-label>
        <ion-badge item-end color="secondary">ID {{i.Id}}</ion-badge>
        <ion-radio value="{{i.Id}}" (ionSelect)="api.activateIssue()"></ion-radio>
      </ion-item>

    
    
    <div padding>
      <button ion-button color="light" block (click)="addIssue()">Add Book</button>
    </div>

  </ion-list>
  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Name && api.current.issue_options.Options">
    <ion-list-header color="secondary">
      Type
    </ion-list-header>
    <ion-item>
      <ion-label stacked>Book Type</ion-label>
      <ion-select  (ionChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[30].value">
       <ion-option 
         value="{{_att}}" 
         selected="{{_att == api.current.issue_options.Options[30].value}}"
         *ngFor="let _att of ['Monograph', 'Anthology', 'Poetry', 'Script']" 
       >{{_att}}
       </ion-option>
     </ion-select>
   </ion-item>
  </ion-list>
  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Name && api.current.issue_options.Options">
    <ion-list-header color="secondary">
      Titles
    </ion-list-header>
    <ion-item>
       <ion-label stacked>Title</ion-label>
       <ion-textarea
       appAutoGrow
       placeholder="Title"
       [(ngModel)]="api.current.issue_options.Name"
       (ionChange)="api.bookStore()"
      ></ion-textarea>
    </ion-item>
    <ion-item>
       <ion-label stacked>Bastard Title</ion-label>
       <ion-textarea
       appAutoGrow
       placeholder="Inside Title"
       [(ngModel)]="api.current.issue_options.Options[1].value"
       (ionChange)="api.bookStore()"
      ></ion-textarea>
    </ion-item>
    <ion-item>
       <ion-label stacked>Subtitle</ion-label>
       <ion-textarea
       appAutoGrow
       placeholder="Subtitle"
       [(ngModel)]="api.current.issue_options.Options[2].value"
       (ionChange)="api.bookStore()"
      ></ion-textarea>
    </ion-item>
    <ion-item>
       <ion-label stacked>Spine Title: One Line Short Form</ion-label>
       <ion-textarea
       appAutoGrow
       placeholder="Short Title"
       [(ngModel)]="api.current.issue_options.Options[0].value"
       (ionChange)="api.bookStore()"
      ></ion-textarea>       
    </ion-item>
  </ion-list>

  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Name && api.current.issue_options.Options">
    <ion-list-header color="secondary">
      Author
    </ion-list-header>
    <ion-item>
       <ion-label stacked>Author</ion-label>
       <ion-textarea
       appAutoGrow
       placeholder="Author"
       [(ngModel)]="api.current.issue_options.Options[3].value"
       (ionChange)="api.bookStore()"
      ></ion-textarea>       
    </ion-item>
    <ion-item>
       <ion-label stacked>Spine: Author Short Form</ion-label>
       <ion-textarea
       appAutoGrow
       placeholder="Author Short Variant"
       [(ngModel)]="api.current.issue_options.Options[4].value"
       (ionChange)="api.bookStore()"
      ></ion-textarea>       
    </ion-item>
  </ion-list>



  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Options">
    <ion-list-header color="secondary">
      Imprint &amp; Preface
    </ion-list-header>
      <ion-item>
        <ion-label stacked>Preface Title</ion-label>
        <ion-textarea
        appAutoGrow
        placeholder="Preface Title"
        [(ngModel)]="api.current.issue_options.Options[11].value"
        (ionChange)="api.bookStore()"
       ></ion-textarea>       
      </ion-item>
      <button ion-item (click)="showModal(6, 'Imprint')">Imprint</button>
      <button ion-item (click)="showModal(8, 'Preface')">Preface</button>
      <button ion-item (click)="showModal(13, 'Preface')">Copyright Note</button>
      <button ion-item (click)="showModal(7, 'Cover Backside')">Cover Text Backside</button>
  </ion-list>


  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Options">
      <ion-list-header color="secondary">
        Postface
      </ion-list-header>
      <ion-item>
        <ion-label stacked>Postface Title</ion-label>
        <ion-textarea
        appAutoGrow
        placeholder="Postface Title"
        [(ngModel)]="api.current.issue_options.Options[12].value"
        (ionChange)="api.bookStore()"
       ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>About Title</ion-label>
        <ion-textarea
        appAutoGrow
        placeholder="About Title"
        [(ngModel)]="api.current.issue_options.Options[25].value"
        (ionChange)="api.bookStore()"
       ></ion-textarea>        
    </ion-item>
    <button ion-item (click)="showModal(9, 'Postface')">Postface</button>
    <button ion-item (click)="showModal(26, 'About')">About</button>
    <button ion-item (click)="showModal(10, 'Acknowledgements')">Acknowledgements</button>
  </ion-list>


  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Options">
    <ion-list-header color="secondary">
      Various Settings
    </ion-list-header>
    <ion-item>
       <ion-label stacked>ISBN (optional)</ion-label>
       <ion-input autocapitalize=off placeholder="xxx-x-xx-xxxxxx-x" (ionChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[5].value"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Cover Image</ion-label>
       <ion-input autocapitalize=off placeholder="URL" (ionChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[14].value"></ion-input>
    </ion-item>   
    <ion-item>
      <ion-label stacked>Cover Asset</ion-label>
      <ion-select (ionChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[22].value">
        <ion-option 
          value="{{_att.value}}" 
          selected="{{_att.value == api.current.issue_options.Options[22].value}}"
          *ngFor="let _att of getAttachements()" 
        >{{_att.label}}
        </ion-option>
        <ion-option 
          value="{{false}}" 
          selected="{{false == api.current.issue_options.Options[22].value}}"
        >Disabled
        </ion-option>        
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Logo Asset</ion-label>
      <ion-select (ionChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[24].value">
        <ion-option 
          value="{{_att.value}}" 
          selected="{{_att.value == api.current.issue_options.Options[24].value}}"
          *ngFor="let _att of getAttachements()" 
        >{{_att.label}}
        </ion-option>
        <ion-option 
          value="{{false}}" 
          selected="{{false == api.current.issue_options.Options[24].value}}"
        >Disabled
        </ion-option>
      </ion-select>
    </ion-item>    
    <ion-item>
       <ion-label stacked>Series Number</ion-label>
       <ion-input autocapitalize=off placeholder="1 or No. 1" (ionChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[15].value"></ion-input>
    </ion-item>  
    <ion-item>
       <ion-label stacked>Special Color: Cover</ion-label>
       <ion-input autocapitalize=off placeholder="CCC,MMM,YYY,KKK" (ionChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[16].value"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Special Color: Text</ion-label>
       <ion-input autocapitalize=off placeholder="CCC,MMM,YYY,KKK" (ionChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[17].value"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Language</ion-label>
       <ion-select (ionChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[18].value">
        <ion-option 
          value="{{_att}}" 
          selected="{{_att == api.current.issue_options.Options[18].value}}"
          *ngFor="let _att of ['german', 'french', 'english', 'italian', 'arabic']" 
        >{{_att}}
        </ion-option>
      </ion-select>
    </ion-item>            
    <ion-item>
      <ion-label>Create OA Pdf</ion-label>
      <ion-toggle (ionChange)="api.bookStore()" checked="api.current.issue_options.Options[23].value" [(ngModel)]="api.current.issue_options.Options[23].value"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Enable Extra Links</ion-label>
      <ion-toggle (ionChange)="api.bookStore()" checked="api.current.issue_options.Options[29].value" [(ngModel)]="api.current.issue_options.Options[29].value"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Options">
    <ion-list-header color="secondary">
      Literature
    </ion-list-header>
    <ion-item>
      <ion-label>Publish Literature without citing</ion-label>
      <ion-toggle (ionChange)="api.bookStore()" checked="api.current.issue_options.Options[21].value" [(ngModel)]="api.current.issue_options.Options[21].value"></ion-toggle>
    </ion-item>
    <button ion-item (click)="showLiteratureModal()">Literature</button>
  </ion-list>
  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Options">
    <ion-list-header color="danger">
      Danger Zone
    </ion-list-header>
    <ion-item>
      <ion-label>Publish Book to Web</ion-label>
      <ion-toggle (ionChange)="api.bookStore()" checked="api.current.issue_options.Options[20].value" [(ngModel)]="api.current.issue_options.Options[20].value"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Draft Mode</ion-label>
      <ion-toggle (ionChange)="api.bookStore()" checked="api.current.issue_options.Options[27].value" [(ngModel)]="api.current.issue_options.Options[27].value"></ion-toggle>
    </ion-item>    
  </ion-list>  
</ion-content>
