<ion-header>
  <ion-toolbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      Book Selection
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list  *ngIf="api.issues">
    <ion-list-header color="primary">
      Available Books
    </ion-list-header>
    
      <ion-item  *ngFor="let i of api.issues.Issues" radio-group [(ngModel)]="api.current.issue">
        <button style="z-index: 10000;" ion-button icon-only clear item-start icon-left color="danger" (click)="deleteIssue(i.Id)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button style="z-index: 10000;" ion-button icon-only clear item-start icon-left color="secondary" (click)="shareIssue(i.Id)">
          <ion-icon name="share"></ion-icon>
        </button>
        <ion-label>{{i.Name}}</ion-label>
        <ion-radio value="{{i.Id}}" (ionSelect)="api.activateIssue()"></ion-radio>
      </ion-item>

    
    
    <div padding>
      <button ion-button color="light" block (click)="addIssue()">Add Book</button>
    </div>

  </ion-list>
  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Name && api.current.issue_options.Options">
    <ion-list-header color="secondary">
      Titles
    </ion-list-header>
    <ion-item>
       <ion-label stacked>Title</ion-label>
       <ion-input autocapitalize=off placeholder="Title" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Name"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Bastard Title</ion-label>
       <ion-input autocapitalize=off placeholder="Inside Title" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[1].value"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Subtitle</ion-label>
       <ion-input autocapitalize=off placeholder="Subtitle" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[2].value"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Spine: Title Short Form</ion-label>
       <ion-input autocapitalize=off placeholder="Short Title" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[0].value"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Name && api.current.issue_options.Options">
    <ion-list-header color="secondary">
      Author
    </ion-list-header>
    <ion-item>
       <ion-label stacked>Author</ion-label>
       <ion-input autocapitalize=off placeholder="Author" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[3].value"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Spine: Author Short Form</ion-label>
       <ion-input autocapitalize=off placeholder="Author Short Variant" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[4].value"></ion-input>
    </ion-item>
  </ion-list>



  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Options">
    <ion-list-header color="secondary">
      Imprint &amp; Preface
    </ion-list-header>
    <ion-item>
      <ion-label stacked>Imprint</ion-label>
       <ion-textarea
        autoresize
        placeholder="Enter a imprint"
        [(ngModel)]="api.current.issue_options.Options[6].value"
        (ngModelChange)="api.bookStore()"
       ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Copyright Note</ion-label>
       <ion-textarea
        autoresize
        placeholder="Copyright note"
        [(ngModel)]="api.current.issue_options.Options[13].value"
        (ngModelChange)="api.bookStore()"
       ></ion-textarea>
    </ion-item>    
    <ion-item>
       <ion-label stacked>Cover Backside</ion-label>
        <ion-textarea
        autoresize
        placeholder="Enter a cover backside Text"
        [(ngModel)]="api.current.issue_options.Options[7].value"
        (ngModelChange)="api.bookStore()"
       ></ion-textarea>
    </ion-item>
    <ion-item>
       <ion-label stacked>Preface Title</ion-label>
       <ion-input autocapitalize=off placeholder="Preface Title" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[11].value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Preface</ion-label>
       <ion-textarea
        autoresize
        placeholder="Enter a preface"
        [(ngModel)]="api.current.issue_options.Options[8].value"
        (ngModelChange)="api.bookStore()"
       ></ion-textarea>
    </ion-item>
  </ion-list>


<ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Options">
    <ion-list-header color="secondary">
      Postface
    </ion-list-header>
    <ion-item>
       <ion-label stacked>Postface Title</ion-label>
       <ion-input autocapitalize=off placeholder="Postface Title" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[12].value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Postface</ion-label>
       <ion-textarea
        autoresize
        placeholder="Enter a postface"
        [(ngModel)]="api.current.issue_options.Options[9].value"
        (ngModelChange)="api.bookStore()"
       ></ion-textarea>
    </ion-item>
    <ion-item>
       <ion-label stacked>Thanks</ion-label>
        <ion-textarea
        autoresize
        placeholder="Enter a thanks"
        [(ngModel)]="api.current.issue_options.Options[10].value"
        (ngModelChange)="api.bookStore()"
       ></ion-textarea>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="api.current.issue && api.issues.Issues.length > 0 && api.current.issue_options.Options">
    <ion-list-header color="secondary">
      Various Settings
    </ion-list-header>
    <ion-item>
       <ion-label stacked>ISBN (optional)</ion-label>
       <ion-input autocapitalize=off placeholder="xxx-x-xx-xxxxxx-x" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[5].value"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Cover Image</ion-label>
       <ion-input autocapitalize=off placeholder="URL" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[14].value"></ion-input>
    </ion-item>    
    <ion-item>
       <ion-label stacked>Series Number</ion-label>
       <ion-input autocapitalize=off placeholder="1 or No. 1" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[15].value"></ion-input>
    </ion-item>  
    <ion-item>
       <ion-label stacked>Special Color: Cover</ion-label>
       <ion-input autocapitalize=off placeholder="CCC,MMM,YYY,KKK" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[16].value"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Special Color: Text</ion-label>
       <ion-input autocapitalize=off placeholder="CCC,MMM,YYY,KKK" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[17].value"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Language</ion-label>
       <ion-input autocapitalize=off placeholder="german, french, english" (ngModelChange)="api.bookStore()" [(ngModel)]="api.current.issue_options.Options[18].value"></ion-input>
    </ion-item>            
  </ion-list>
</ion-content>
