<ion-header>
  <ion-toolbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      Book
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list  *ngIf="api.issues" radio-group [(ngModel)]="api.current_issue" (ionChange)="api.changeIssue()">
    <ion-list-header color="primary">
      Active Book
    </ion-list-header>
    <ion-item-sliding *ngFor="let i of api.issues.Issues">
      <ion-item>
        <ion-label>{{i.Name}}</ion-label>
        <ion-radio value="{{i.Id}}"></ion-radio>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="deleteIssue(i.Id)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="api.issues && api.current_issue">
    <ion-list-header color="secondary">
      Book Settings
    </ion-list-header>
    <ion-item>
       <ion-label stacked>Title</ion-label>
       <ion-input placeholder="Title" (ngModelChange)="api.bookStore()" [(ngModel)]="api.Issue.Name" value="api.Issue.Name"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Short Title</ion-label>
       <ion-input placeholder="Short Title" (ngModelChange)="api.bookStore()" [(ngModel)]="api.Issue.Options[0].ShortTitle" value="api.Issue.Options[0].ShortTitle"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Inside Title</ion-label>
       <ion-input placeholder="Inside Title" (ngModelChange)="api.bookStore()" [(ngModel)]="api.Issue.Options[0].InsideTitle" value="api.Issue.Options[0].InsideTitle"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Subtitle</ion-label>
       <ion-input placeholder="Subtitle" (ngModelChange)="api.bookStore()" [(ngModel)]="api.Issue.Options[0].Subtitle" value="api.Issue.Options[0].Subtitle"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Author</ion-label>
       <ion-input placeholder="Author" (ngModelChange)="api.bookStore()" [(ngModel)]="api.Issue.Options[0].Author" value="api.Issue.Options[0].Author"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label stacked>Author Short</ion-label>
       <ion-input placeholder="Author Short Variant" (ngModelChange)="api.bookStore()" [(ngModel)]="api.Issue.Options[0].AuthorShort" value="api.Issue.Options[0].AuthorShort"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="api.issues && api.current_issue">
    <ion-list-header color="secondary">
      Imprint
    </ion-list-header>
    <ion-item>
       <ion-label stacked>Title</ion-label>
       <ion-input placeholder="Imprint Title" (ngModelChange)="api.bookStore()" [(ngModel)]="api.Issue.Options[0].ImprintTitle" value="api.Issue.Options[0].ImprintTitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Imprint</ion-label>
       <ion-textarea
        autoresize
        placeholder="Enter a imprint"
        [(ngModel)]="api.Issue.Options[0].Imprint"
        (ngModelChange)="api.bookStore()"
        value="api.Issue.Options[0].Imprint"
       ></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="api.issues && api.current_issue">
    <ion-list-header color="secondary">
      Preface
    </ion-list-header>
    <ion-item>
       <ion-label stacked>Title</ion-label>
       <ion-input placeholder="Preface Title" (ngModelChange)="api.bookStore()" [(ngModel)]="api.Issue.Options[0].PrefaceTitle" value="api.Issue.Options[0].PrefaceTitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Preface</ion-label>
       <ion-textarea
        autoresize
        placeholder="Enter a preface"
        [(ngModel)]="api.Issue.Options[0].Preface"
        (ngModelChange)="api.bookStore()"
        value="api.Issue.Options[0].Preface"
       ></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
